html {
  background-color: #303030;
}

h1 {
  text-align: center;
  color: #cccccc;
  font-size: 4vw;
}

h2 {
  text-align: center; 
  color: #cccccc;
  font-size: 1vw;
}

h2 > a {
  color: #cccccc
}

h2 > a:hover {
  cursor: pointer;
}

h2 > a:active {
  color: purple;
  cursor: pointer;
}

h2 > a:visited {
  color: #cccccc
}

header {
  margin-top: 15vw;
}

footer {
  font-size: 1vw;
  position: absolute;
  bottom: 5vw;
  color: #cccccc;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  align-items: center;
}

footer > p {
  margin-right: 15px;
}

footer > a {
  cursor: pointer;
}